*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --blue: #2196F3;
    --white: #FFFFFF;
    --black: #212121;
    --gray: #757575;
    --brand-dark-blue: #2f303a;
    --clair-gray: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--white);
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-links ul {
    display: flex;
    align-items: center;
}

header .container .left-links ul {
    display: flex;
}

header .logo {
    margin-right: 43px;
    margin-bottom: 10px;
}

header .link-nav {
    margin-left: 50px;
}

header .right-links ul {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--blue);
    font-family: 'Raleway', 'sans-serif';
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

.link-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--black);
    cursor: pointer;
}

.link-nav:hover,
.link-nav:focus {
    color: var(--blue)
}

.contact {
    color: var(--gray);
}

.box {
    background-image: url("../images/Imagen.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    align-items: center;
    width: 1600px;
    height: 600px;

}

.box .title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.box .btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--white);
    background: var(--blue);
    cursor: pointer;
    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.benefist {
    display: flex;
    height: 122px;
    margin-top: 95px;
}

.background-icon {
    Width: 270px;
    Height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.sub-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--gray);
    margin-top: 10px;
    margin-left: 24px;
}

.benefits-item {
    margin-left: 30px;
}

.benefits-icon {
    margin-top: 25px;
    margin-left: 100px;
}

.benefist {
    Height: 251px;
}

.container .functions {
    Height: 425px;
    background: var(--white);
    margin-top: 99px;
}

.functions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-black);
    margin-top: 94px;
    margin-bottom: 55px;
}

.functions-foto {
    display: flex;
}

.foto {
    margin-left: 30px;
}

.our-team .container {
    width: 1600px;
    height: 708px;
    background: var(--clair-gray);
    margin-top: 94px
}

.title-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    padding-top: 94px;
}

.img-our-team {
    padding-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team {
    width: 270px;
    height: 428px;
    background-color: var(--white);
    margin: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team figcaption {
    margin: 0;
    text-align: center;
}

figcaption p {
    color: var(--gray);
}


.team-social-list {
    display: flex;
    padding: 0px 32px;
    margin-top: 16px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.team-social-item {
    width: 44px;
    height: 44px;
}

.team-social-link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    color: #afb1b8;
    background-color: var(--white);
}

.team-social-link:hover,
.team-social-link:focus {
    color: #ffffff;
    background-color: #2196F3;
}

.team-social-icon {
    margin-top: 12px;
    margin-bottom: 12px;
    fill: currentColor;
}

.client-regular {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.client-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-item {
    width: 170px;
    height: 90px;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    width: 170px;
    height: 90px;
    display: block;
    border: 1px solid #afb1b8;
    color: #afb1b8;
    background-color: #fff;
    padding: 16px 32px;
}

.client-link:hover,
.client-link:focus {
    color: var(--blue);
    border-color: var(--blue);
}

.client-icon {
    fill: currentColor;
}

.client-item:hover,
.client-item:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* ----footer---- */
.footer-container {
    display: flex;
    width: 1600px;
    height: 252px;
    background: var(--brand-dark-blue);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
}

.social-icon {
    width: 206px;
    height: 80px;
}

.footer-text-icon {
    margin-left: 70px;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--white);
}

.network-icon {
    margin: 12px 0px 0px 12px;
    fill: currentColor;

}

.footer-social-media {
    display: flex;
    margin-left: 70px;
    margin-bottom: 100px;
    padding: 0px;
}

.footer-icon {
    margin-right: 10px;

}

.footer-social-link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    color: #ffffff;
    background-color: #ffffff10;
}

.footer-social-link:hover,
.footer-social-link:focus {
    color: #ffffff;
    background-color: var(--blue);
}



.logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--brand-white);
}

.contact-link-nav {
    font-style: normal;
    width: 231px;
    height: 21px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

footer p {
    color: var(--white);
    width: 231px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    margin-bottom: 27px;
}

.contact-link-nav:hover,
.contact-link-nav:focus {
    color: var(--blue)
}


/* Portafolio */
.portafolio-button {
    margin-top: 106px;
    margin-bottom: 50px;
    justify-content: center;
    column-gap: 8px;
    display: flex;
}

.btn-portafolio {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-black);
    background: #f5f4fa;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
}

.btn-portafolio:hover,
.btn-portafolio:focus {
    color: var(--white);
    background: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 82px;
}

.caption {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 24px;
}

.description-our-team {
    margin-bottom: 20px;
    margin-left: 24px
}

.card {
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    width: 370px;
    height: 404px;
    margin: 0;
    cursor: pointer;
    border-top: 0px;
}

.card:hover {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}